html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(332deg,rgb(58, 58, 58) 20%,
     rgb(34, 34, 34) 80%);
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
}

#menu {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 80px;
    margin: auto;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    
}

#navigation {
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: max-content;
    height: auto;
    margin: auto;
}

#nav_home {
    color: white; 
    margin-right: 15px; 
    text-decoration: none;
}

#nav_home:hover {
    color: rgb(255, 244, 184);
    margin-right: 15px; 
    text-decoration: none;
}

#nav_prof {
    color: white; 
    margin-right: 15px; 
    text-decoration: none;
}

#nav_prof:hover {
    color: rgb(255, 244, 184);
    margin-right: 15px; 
    text-decoration: none;
}

#nav_pers {
    color: white; 
    margin-right: 15px; 
    text-decoration: none;
}

#nav_pers:hover {
    margin-right: 15px; 
    text-decoration: none;
    color: rgb(255, 244, 184);
}

#nav_contact {
    color: white; 
    text-decoration: none;
}

#nav_contact:hover {
    color: white; 
    text-decoration: none;
    color: rgb(255, 244, 184); 
}

#welcome {
    margin: auto;
    width: 100%;
    height: max-content;
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.74);
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
}

#welcome_text {
    width: fit-content; 
    height: max-content; 
}

#tools_logos {
    width: fit-content;
    height: max-content;
    margin: 0;
}

#python_logo {
    width: 4vw;    
    height: 4vw;
    margin: 0 10px 0 20px;
}

#js_logo {
    width: 4vw;    
    height: 4vw;
    margin: 0 10px;
}

#html_logo {
    width: 4vw;    
    height: 4vw;
    margin: 0 10px;
}

#css_logo {
    width: 4vw;    
    height: 4vw;
    margin: 0 10px;
}

#c_logo {
    width: 4vw;    
    height: 4vw;
    margin: 0 10px;
}

#welcome_image {
    width: max-content; 
    height: max-content; 
    font-size: 0;
}

#my_photo {
    height: 400px; 
    width: 400px ; 
    border-radius: 50%;
    margin: auto;
}

.text1 {
    margin: auto;
    color: white;
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.74);
}

.text1 .carrer_list {
    font-size: 15px;
}

#hello {
    font-size: 40px;  
    color: white;
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.74);
    width: fit-content;
    margin: 0;
}

#iam {
    font-size: 55px;
    color: white;
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.74);
    width: fit-content;
    height: fit-content;
    margin: 0;
}

#wel-port {
    font-size: 30px;
    color: white;
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.74);
    width: fit-content;
    height: fit-content;
    margin: 0;
}

.separador {
    background-color: rgb(117, 117, 117);
    width: 100%;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#study {
    margin: auto;
    margin-top: 0px;
    width: max-content;
    height: max-content;
    font-size: 20px;
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.74);
}

#projects {
    margin: 100px 0 20px 0; 
    height: 100px;
    width: 100%;
}

#project1 {
    width: max-content;
    margin-left: 25%;
    float: left;
} 

#project2 {
    width: max-content;
    margin-right: 25%;
    float: right;
} 

#prof_title {
    text-align: center;
}

#professional {
    font-size: 20px;
}

#aboutme_title {
    text-align: center; 
    margin-bottom: 20px;
}

#studying {
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    margin: auto;
}

#study_text {
    height: max-content;
    display: inline-block;
    margin: 9px 9px 9px 9px;
}

#book_logo {
    height: 32px; 
    width: 32px;
}

#develop {
    width: fit-content;
    display: flex;
    align-items: center;
    margin: auto;
}

#check {
    height: 35px; 
    width: 35px;
}

#develop_text {
    margin: 9px;
}

#puzzles {
    width: fit-content;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
}

#rubiks_text {
    margin: 9px;
    display: inline-block;
}

#rubiks {
    width: 40px; 
    height: 40px;
    display: inline-block;
}

#rubiks_image {
    width: 40px; 
    height: 40px;
}

#hobbies {
    margin-top: 40px;
}

#freetime_title {
    width: fit-content; 
    height: max-content; 
    margin: auto;
}

#activities {
    margin: 20px 0 0 0
}

#jiujitsu_title {
    width: fit-content; 
    height: max-content; 
    display: flex; 
    align-items: center; 
    margin: 0 auto 0 auto;
}

#jiujitsu_unicode {
    font-size: 40px;
    margin: 0px;

}

#jiujitsu_text {
    font-size: 26px; 
    width: fit-content; 
    height: max-content; 
    margin: 0px 10px;
}

#jiujitsu_images {
    width: 100%;
    height: max-content;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
}

#jiujitsu_image {
    width: max-content;
    height: max-content;
}

#jiujitsu_img1 {
    width: 400px;
    height: 500px;
}

#jiujitsu_img2 {
    width: 328px;
    height: 500px;
}

#jiujitsu_desc {
    font-size: 18px; 
    width: fit-content; 
    text-align: center;
    margin: auto;
}

#champion_unicode {
    font-size: 35px; 
    width: max-content; 
    height: max-content; 
    display: flex; 
    align-items: center; 
    margin: auto;
}

#medal {
    margin:0;
}

#game {
    margin: 20px 0 0 0;
}

#game_title {
    width: fit-content; 
    height: max-content; 
    display: flex;
    align-items: center; 
    margin: 10px auto 0 auto;
}

#controller_unicode {
    font-size: 40px;
}

#game_text {
    font-size: 26px; 
    width: fit-content; 
    height: max-content; 
    margin: 0 10px;
}

#game_images {
    width: 100%; 
    height: max-content; 
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
}

#game_img1 {
    width: 195px; 
    height: 300px;
}

#game_img2 {
    width: 374px; 
    height: 300px;
}

#game_desc {
    font-size: 18px;
    width: fit-content; 
    text-align: center;
    margin: auto;
}

#reachme {
    width: max-content;
    height: max-content;
    margin: auto;
}

#contact {
    margin: 0 0 20px 0;
}

#contact_links {
    width: max-content;
    height: max-content;
    margin: auto;
}

#insta {
    width: max-content;
    margin: auto;
    display: inline-block;

}

#insta_logo {
    height: 40px; 
    width: 40px;
    margin: auto;
    
}

#github {
    width: max-content;
    margin: auto;
    display: inline-block;
}

#github_logo {
    height: 40px; 
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

#linkedin {
    width: 40px;
    height: 40px;
    margin: auto;
    display: inline-block;
}

#linkedin_logo {
    height: 40px; 
    width: 40px;
}